<!DOCTYPE html>
<head>
  <title>Here Code Challenge</title>
  <link rel="stylesheet" href="<%= request.base_url %>/css/normalize.css">
  <link rel="stylesheet" href="<%= request.base_url %>/css/skeleton.css">
  <link rel="stylesheet" href="<%= request.base_url %>/css/site.css">
</head>
<body>

<nav class="navbar">
  <div class="container">
    <ul>
      <li class="root">Here Code Challenge</li>
    </ul>
  </div>
</nav>

<div class="container">
    <%= yield %>
</div>

</body>
